*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

a{
  text-decoration: none;
}

input, select{
  outline: none;
}


.active{
  display: block;
}

.inActive{
  display: none;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
  left: 0;
  top: 0;
}

li{
  list-style: none;
}

button{
  cursor: pointer;
}

.disabled{
  opacity: 0.5;
}

.error{
  display: flex;
  font-size: 10px;
  font-weight: normal;
  color: red;
  width: 90%;
}

.slider .slide{
  visibility: hidden;
  opacity: 0;
  animation: slider 30s linear infinite;
}

.slider .slide .content{
  position: absolute;
  top: 10%;
  width: 50%;
}
@media (max-width:960px) {
  .slider .slide .content{
    top: 30%;
  }
}

.slider .slide .content span{
  /* left: 40%; */
  font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: #2f2f2f;
    border-radius: 5px;
    line-height: 65px;
    padding: 10px;
    box-decoration-break: clone;
    margin-inline-start: 15%;
 
}

.Typewriter{
  position: absolute;
  top: 25%;
  max-width: 563px;
  width: 100%;
}

  @media (max-width:1200px) {
    .Typewriter{
      max-width: 400px;
    }
  }

  @media (max-width: 400px) {
    .Typewriter {
      top: 0%;
    }
  }



    @media (max-width:960px) {
      .Typewriter{
        top: 10%;
    text-align: center;
    width: 100%;
    max-width: 100%;
      }
    }
  

.Typewriter__wrapper{
  font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: #2f2f2f;
    border-radius: 5px;
    line-height: 65px;
    padding: 10px;
    box-decoration-break: clone;
    margin-inline-start: 15%;

}



@media (max-width: 960px) {
  .Typewriter__wrapper{
    margin-inline-start:0;
  }
}
.slider .slide .content img{
  margin-inline-start: 60%;
  position: absolute;
  top: 0;
  object-fit: cover;
}

@media (max-width: 960px) {
  .slider .slide .content img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-inline-start: 0%;
  }
}

@media (max-width: 550px) {
  .slider .slide .content img{
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .slider .slide .content {
    top: 50%;
  }
}
.slider .slide{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider .slide:nth-child(1){
  animation-delay: 0s;
}
.slider .slide:nth-child(2){
  animation-delay: 10s;
}

@keyframes slider {
 
  0%{
    visibility: visible;
    opacity: 1;
  }

   2%{
    visibility: visible;
    opacity: 1;
  }

  18%{
    visibility: visible;
    opacity: 1;
  } 

  50%{
    visibility: hidden;
    opacity: 0;
  }

  80%{
    visibility: visible;
    opacity: 1;
  }
 100%{
  visibility: hidden;
  opacity: 0;
  }
  

}


.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  min-height: 71px;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}
