*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
   url("../public/fonts/Montserrat-Medium.otf") format("truetype");
  }

.App{
  background: url("./music/background-music.mp3");
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  font-family: "Montserrat";
}

a{
  text-decoration: none;
}

input, select{
  outline: none;
}


.active{
  display: block;
  border-bottom: 1px solid #dfdfdf;
}

.inActive{
  display: none;
}

.back-drop {
  background: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
  left: 0;
  top: 0;
}

li{
  list-style: none;
}

button{
  cursor: pointer;
}

.disabled{
  opacity: 0.5;
}

.error{
  display: flex;
  font-size: 10px;
  font-weight: normal;
  color: red;
  width: 90%;
}

.slider .slide{
  visibility: hidden;
  opacity: 0;
  animation: slider 40s linear infinite;
}

.slider .slide .content{
  position: absolute;
  top: 25%;
  width: 50%;
}
@media (max-width:960px) {
  .slider .slide .content{
    top: 25%;
  }
}

.slider .slide .content span{
  /* left: 40%; */
  font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: #2f2f2f;
    border-radius: 5px;
    line-height: 65px;
    padding: 10px;
    box-decoration-break: clone;
    margin-inline-start: 15%;
 
}

.Typewriter{
  position: absolute;
  top: 25%;
  max-width: 563px;
  width: 100%;
  height: 330px;
  overflow: hidden;
  margin-inline-start: 5%;
}


  @media (min-width: 400px) and (max-width: 700px) {
    .Typewriter {  
      max-width: 90%;
      width: 100%;
      top: 2%;
    }
  }

  @media (max-width: 800px) {
    .Typewriter {  
      top: 2%;
    }
  }

  @media (max-width: 1000px) and (min-width: 972px) {
    .Typewriter {  
      margin-inline-start: 2%;
      max-width: 452px;
    }
  }


.Typewriter span:first-of-type{
  font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: #2f2f2f;
    border-radius: 5px;
    line-height: 65px;
    padding: 10px;
    box-decoration-break: clone;
    /* margin-inline-start: 15%; */
}

@media (max-width: 400px) {
  .Typewriter {
    top: 0%;
    max-width: 90%;
  }
} 

  /* @media (max-width:1200px) {
    .Typewriter{
      max-width: 400px;
    }
  } */

  /* @media (max-width: 400px) {
    .Typewriter {
      top: 0%;
    }
  } */


    /* @media (max-width:1200px) {
      .Typewriter{
        top: 30%;
    max-width: 44%;
    height: auto;
    width: 460px;
    margin-inline-start: 2%;
      }
    } */

    /* @media (max-width: 800px) {
      .Typewriter {
        top: 2%;
        max-width: 78%;
        margin-inline-start: 11%;
      }
    }

    @media (max-width: 600px) {
      .Typewriter {
        margin-inline-start: 4%;
        max-width: 95%;
      }
    } */

    /* @media (max-width: 500px) {
      .Typewriter {
        margin-inline-start: 32%;
      }
    } */
  

.Typewriter__wrapper{
  font-size: 30px;
    text-transform: uppercase;
    color: #ffffff !important;
    background-color: #2f2f2f;
    border-radius: 5px;
    line-height: 65px;
    padding: 10px;
    box-decoration-break: clone;
    margin-inline-start: 15%;
}



@media (max-width: 960px) {
  .Typewriter__wrapper{
    margin-inline-start:0;
  }
}

@media (max-width: 500px) {
  .Typewriter__wrapper{
    font-size: 22px;
  }
}
.slider .slide .content img{
  margin-inline-start: 60%;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 419px;
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
}

@media (max-width: 960px) {
  .slider .slide .content img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-inline-start: 8%;
  }
}

    @media (min-width: 820px) and (max-width: 500px) {
      .slider .slide .content img{
        margin-top: 0%;
        margin-inline-start: 27%;
      }
    }

@media (max-width: 500px) {
  .slider .slide .content img{
    /* margin-inline-start: 0%; */
    margin-top: 24%;
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 450px) {
  .slider .slide .content {
    top: 50%;
    margin-inline-end: 25%;
  }
}

@media (max-width: 800px) {
  .slider .slide .content {
    margin-inline-end: 59%;
    top: 50%;
  }
}

@media (max-width: 1200px) and (min-width: 972px) {
  .slider .slide .content  {  
    width: 93%;
  }
}


@media (max-width: 600px) {
  .slider .slide .content {
    margin-inline-end: 69%;
  }
}

@media (max-width: 500px) {
  .slider .slide .content {
    margin-inline-end: 24%;
  }
}

@media (max-width: 450px) {
  .slider .slide .content {
    margin-inline-end: 29%;
  }
}

@media (max-width: 375px) {
  .slider .slide .content {
    margin-inline-end: 36%;
  }
}
.slider .slide{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.slider .slide:nth-child(1){
  animation-delay: 0s;
}
.slider .slide:nth-child(2){
  animation-delay: 18s;
}

.slider .slide:nth-child(3){
  animation-delay: 35s;

}

.slider .slide:nth-child(4){
  animation-delay: 50s;
}
.slider .slide:nth-child(5){
  animation-delay: 65s;
}
@keyframes slider {
 
  0%{
    visibility: visible;
    opacity: 1;
  }

   2%{
    visibility: visible;
    opacity: 1;
  }

  18%{
    visibility: visible;
    opacity: 1;
  } 

  50%{
    visibility: hidden;
    opacity: 0;
  }

  80%{
    visibility: hidden;
    opacity: 0;
  }
 100%{
  visibility: hidden;
  opacity: 0;
  }
  

}


.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  min-height: 71px;
  text-transform: uppercase;
}

.menu-items a,
.menu-items button {
  /* text-align: left; */
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-inline-start: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-inline-end: 0.32em solid transparent;
  border-inline-start: 0.32em solid transparent;
}


embed{
  display: none;
}